html, body{
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}
.banner{
    background-image: url(../assets/Vector.jpg);
    background-size: 55% auto;
    background-position: 40%;
    background-position:right top;
    background-repeat: no-repeat;
    min-height: 75%;
    padding: 1rem 2.5rem;
}
.banner a{
    font-size: 1.6rem;
    font-weight: 700;
    color: #262F56;
    text-decoration: none;
    background-color:rgba(252, 26, 26, 0.29);
    padding: 0.5rem 0.5rem;
    border-radius: 100%;
}
.showoff{
    transform: translateX(0%);
}
.hideOff{
    transform: translateX(500%);
}
.card{
 position: absolute;
 transition: all ease-in-out 3s;
 z-index: 22;
}
.gallery{
    position: absolute;
    color: #262F56;
    font-size: 2rem;
    height:99%;
    width: 100%;
    display: none;
    background-color: rgba(252, 26, 26, 0.29);
    transition: all ease-in-out 1s;
}
.show{
   display: block;
}
div.g-card{
    display: flex;
    position: relative;
    justify-content: center;
}
div.gallery img{
    width: 250px;
    height: 90%;
}
div.gallery i{
    padding: 1rem 4rem;
}
div.about{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}
.about div:nth-child(1){
    font-size: 2.2rem;
    font-weight: 700;
    color:#262F56;
}
.about div:nth-child(1) p.detail{
   color: #262F56;
   font-size: 0.9rem;
   line-height: 1.7rem;
   font-weight: 500;
   margin-bottom: 3.5rem;
   width: 60%;
}
.about div:nth-child(2){
   height: 400px;
   margin: auto;
   display: flex;
}
.about div:nth-child(2) img{
    width: 210px;
    height: 100%;
}
span.red{
    color:#FC1A1A;
}
p.offer{
    font-size: 2.2rem;
    font-weight: 700;
    text-align: center;
    color:#262F56;
    margin-top: 5rem;
}
div.offer{
    display: flex;
    flex-direction: column;
    background-image: url(../assets/offer-bg.png);
    background-size: 90% 55%;
    background-repeat: no-repeat;
    color: #262F56;
    padding: 0rem 2.5rem;
}
div.offer div.side:nth-child(1){
    height: 400px;
    margin: auto;
}

div.offer div.side:nth-child(2) p{
   font-size: 0.8rem;
   font-weight: 500;
   line-height: 1.5rem;
}


div.offer div.side:nth-child(1) img{
    width:  210px;
    height: 100%;
}
div.bullet{
   margin-top: 5rem;
   display: flex;
   flex-wrap: wrap;
   padding: 0rem 2rem;
   justify-content: space-between;
   align-items: center;
}
div.bullet img{
   width: 33px;
   height: 33px;
}
div.bullet div{
     width: 34%;
     margin-bottom: 2.5rem;
}

div.guide{
    display: flex;
    flex-direction: column;
    padding: 0rem 2.5rem;
    background-image: url(../assets/guide-back.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: right top;
}
div.guide-left{
   font-size: 1rem;
   color: #262F56;
   font-weight: 500;
}
div.guide-left div{
    display: flex;
    align-items: center;
}
div.guide-left img{
   height: 40px;
   margin-right: 3rem;
   margin-top: 2rem;
}
div.guide-right{
    width: 100%;
    margin-top: 2rem;
    display: flex;
}
div.guide-right img{
    height: 400px;
    width: 210px;
    display: block;
    margin-left: auto;
}
div.launch{
    padding: 0rem 2.5rem;
    position: relative;
}
p.notify{
 text-align: center;
 font-size: 2rem;
 font-weight: 700;
 color: #262F56;
}
div.sub{
    display: flex;
    flex-direction: column;
    position: relative;
}
div.sub input, button{
    padding: 1rem 2rem;
    margin-bottom: 3rem;
    border: #262F56 1px solid;
}

 p#cd{
      color: #FC1A1A;
      font-weight: 700;
      font-size:3rem;
      text-align: center;
  }

  div.response{
      border: #262F56 1px solid;
      position: absolute;
      top:0;
      right:0;
      bottom:0;
      left:0;
      margin: auto;
      font-size: 1.3rem;
      background-color:#262F56;
      box-shadow: #262F56;
      color: white;
      font-weight: 500;
      text-align: center;
      padding:1rem;
      transition: all ease-in-out 0.7s;
  }
  i.cancel{
        display: block;
        text-align: right;
  }
  .hide{
  opacity: 0;
  z-index: -3;
  }
  p.con{
    font-size: 2.2rem;
    font-weight: 700;
    text-align: center;
    color: white;
  }
  div.contact a{
    text-decoration: none;
    color:white;
    margin-right: 1.7rem;
  }
  div.contact a:hover{
      color: aqua;
  }
   div.contact{
    padding: 2rem;
    background-image: url(../assets/foot.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 100% 50%;
      text-align: center;
      font-size: 0.9rem;
      font-weight: 500;
      color: white;
      margin-top: 2rem;
      background-color: #262F56;
   }
   div.footer{
       width: 100%;
       display: flex;
       justify-content: space-between;
       margin: auto;
       margin-bottom: 3rem;
   }
   div.social{
       display: flex;
       width: 40%;
       margin: auto;
       margin-top: 2rem;
       justify-content: space-between;
       color: aqua;
   }
   div.social i{
    font-size: 1.5rem;
    cursor: pointer;
   }
   div.address{
       margin: 3.5rem 0rem;
   }
    div.coming-soon{
        display: flex;
        flex-direction: column;
        margin-top: 8rem;
        padding: 0rem 2.5rem;
        background-image: url(../assets/Vector.jpg);
          background-size:100% 50%;
          background-repeat: no-repeat;
          background-position: right top;
    }
    div.coming-soon img{
          width: 210px;
          height: 400px;
    }
    div.c1{
        order: 1;
    }
    
    div.c2{
        display: flex;
        width: 100%;
        justify-content: space-between;
        order: 0;
    }

@media only screen and (min-width: 720px) {
    div.social{
        width: 15%;
    }
    div.footer{
        width: 80%;
    }
    .banner{
        background-size: 60% 100%;
    }
    div.about{
        flex-direction: row;
        justify-content: space-between;
    }
    div.offer{
        flex-direction: row;
        background-size: 40% 100%;
    }
    div.offer div.side:nth-child(1){
        width: 100%;
    }

    div.guide{
        flex-direction: row;
        justify-content: space-between;
        background-size: 60% 100%;
    }
    div.guide-right{
        width: 50%;
    }
    p.notify{
        font-size: 3rem;
       }
       div.sub{
        flex-direction: row;
        justify-content: center;
    }
    div.sub input, button{
        margin-right: 2rem;

    }
    div.sub input{
        width: 40%;
    }
    div.response{
        width: 100%;
    }
    div.c2{
        width: 75%;
        margin: auto;
    }
    
}

@media only screen and (min-width: 992px) {
    .banner{
        background-size: 45% 100%;
        padding: 1rem 3rem;
    }
    div.offer{
       background-size: 35% 100%;
    }  
     div.guide{
        background-size: 50% 100%;
     }
    .about div:nth-child(1){
        width: 50%;
    }
    div.coming-soon{
        flex-direction: row;
        background-size: 50% 100%;
    }
    div.c1{
        order: 0;
    }
    div.c2{
        order: 1;
        width: 50%;
    }
}